.icons-box h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 0 1rem;
}

.icons-box h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 0 1rem;
  color: #4d4d4d;
}

.icons {
  display: flex;
  justify-content: space-around;
}

i.fab {
  font-size: 6rem;
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: steelblue;
}

.fa-js {
  color: gold;
}

.fa-react {
  color: lightskyblue;
}