.signup-form {
  font-family: "Open Sans", sans-serif;
}

::placeholder {
  font-size: 0.7rem;
  color: #ccd3d8;
}

.signup-form input,
.signup-form button {
  border-radius: 0.4rem;
  padding: 0.3rem;
  border: 1px solid #c2e6f4;
}

.signup-form input {
  width: 10rem;
  margin: 1rem 0.3rem;
}

.signup-form button {
  font-size: 0.7rem;
  color: #f8f3f4;
  background-color: #f37474;
  width: 15rem;
  padding: 0.5rem;
}

.signup-content {
  background-color: #c2e6f4;
  padding: 1rem;
  border-radius: 0.8rem;
}

.signup-box {
  padding: 1rem 1rem;
  text-align: center;
}

.signup-box h2 {
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.signup-box p {
  font-size: 0.8rem;
}
